details {
    padding: 15px;
    background-color: #f6f7f8;
}

/*
Estilização texto principal, titulo: "Aditum pagamentos"
*/

.title-large {
    font-size: 130%;
    text-align: left;
}

.line {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border-top: 2px solid rgba(0, 0, 0, .100);
}

.number-blue {
    color: blue;
}

strong.text-color {
    color: red;
}

input#CPF {
    margin-bottom: 3%;
}

button.btn.btn-primary.right {
    margin-left: 80%;
    margin-bottom: 10%;
    margin-top: 1%;
}

button.btn.btn-primary.config {
    margin-right: 46%;
    margin-bottom: 10%;
    margin-top: 1%;
}

label.left {
    margin-left: -5%;
}

input.date {
    margin-left: 2%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.teste {
    width: 64%;
}